{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>We Are Social</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Social Entrepreneurship site that allows for the exchange of ideas that benefit both businesses and society as a whole.">
    <meta name="author" content="Peter Bristow">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "libs/buildinternet-supersized-d6ed282/slideshow/css/supersized.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">

    {% block head_css %}{% endblock head_css %}
    <!-- script references available for the head_js block-->

    <script src="{% static 'js/angular.min.js' %}"></script>

    {% block head_js %}{% endblock head_js %}
</head>
<body>

<div id="wrap"> <!-- For sticky footer -->
    {% include "nav.html" %}
    {% include "messages.html" %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</div>
{% include "footer.html" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
<script src="{% static 'libs/buildinternet-supersized-d6ed282/slideshow/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'libs/buildinternet-supersized-d6ed282/slideshow/js/supersized.3.2.7.min.js' %}"></script>
<script src="{% static 'js/polls/app.js' %}"></script>
{% block body_js %}{% endblock body_js %}
</body>
</html>