{% extends "base.html" %}
{% block content %}
    <h2>Success!</h2>
    {% comment %} user.email comes from the user session,
     which is created in views.login {% endcomment %}
    <p>You are logged in as {{ user.email }} </p>
    <p>Your last login was {{ user.last_login }}</p>
    {% if user.stripe_id %}
        <p>Your stripe id is {{ user.stripe_id }} </p>
    {% endif %}
    <h2>Subscription Details</h2>
    {% if user.stripe_id %}
        <p>You have {{ user.subscription_end | timeuntil }} left on your subscription</p>
        <p>To cancel your subscription click 'Cancel Subscription' below</p>
        <p>
            <a href="{% url "cancel_subscription" %}"
               onclick="return cancelSubscriptionCheck();"
               class="btn btn-danger">Cancel Subscription</a>
        </p>
        {{ customer }}
    {% else %}
        <p>You have no subscriptions right now.</p>
    {% endif %}
    <script type="text/javascript">
        function cancelSubscriptionCheck() {
            if (confirm('Are you sure you want to cancel?')) {
                return true;
            }
            return false;
        }
    </script>
{% endblock %}
