{% extends "base.html" %}
{% load thread_extras %}
{% load staticfiles %}

{% block content %}
   {% load bootstrap_tags %}
   {% for subject in subjects %}
       <h2>Forum & Polls</h2>
       <section class="subject forum">
           <h2><a style="color:#48befc;" href="{% url 'threads' subject.id %}">{{ subject.name }}</a></h2>
           <p>
               <a href="{% url 'threads' subject.id %}">
                   {% autoescape off %}{{ subject.description }}{% endautoescape %}
               </a>
           </p>
           <table>
               <tr>
                   <th style="width: 100px">THREADS</th>
                   <th>POSTS</th>
               </tr>
               <tr>
                   <td>{{ subject.threads.count }}</td>
                   <td>{{ subject|get_total_subject_posts }}</td>
               </tr>
           </table>
       </section>
   {% endfor %}
{% endblock %}

{% block body_js %}
    <script>
        $(document).ready(function(){
            $.supersized({
                // Components
                slide_links: 'blank',
                // Individual links for each slide (Options: false, 'number', 'name', 'blank')
                slides: [      // Slideshow Images
                    {
                        image: '{% static "images/peopleandideas.png" %}',
                        title: 'Image of people thinking of stuff.'
                    }
                ]
            });
        });
    </script>
{% endblock body_js %}