{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block head_js %}
    <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript">
        tinyMCE.init({
            mode: "textareas",
            theme: "modern",
            plugins: "paste",
        });
    </script>
{% endblock %}

{% block content %}
    <h2>Add / Update Post</h2>
    <section>
        <div class="col-md-9">
            <form method="post" action="{{ form_action }}">
                {% csrf_token %}
                {{ form|as_bootstrap }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{{ button_text }}</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block body_js %}
    <script>
        $(document).ready(function(){
            $.supersized({
                // Components
                slide_links: 'blank',
                // Individual links for each slide (Options: false, 'number', 'name', 'blank')
                slides: [      // Slideshow Images
                    {
                        image: '{% static "images/peopleandideas.png" %}',
                        title: 'Image of people thinking of stuff.'
                    }
                ]
            });
        });
    </script>
{% endblock body_js %}