{% extends "base.html" %}
{% load thread_extras %}
{% load staticfiles %}
{% block content %}

    <div class="row header">
        <div class="container thread">
            <h2>{{ thread.name }}</h2>
            <div class="col-md-12">
                <div class="col-md-9">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>
                            CREATED
                        </th>
                        <th>OWNER</th>
                        <th>LAST POST</th>
                    </tr>
                    <tr>
                        <td>
                            <time datetime="{{ thread.created_at }}">
                                {{ thread.created_at | started_time }}
                            </time>
                        </td>
                        <td>{{ thread.user.username }}</td>
                        <td>{% last_posted_user_name thread %}</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>

            {% if thread.poll %}
                {% csrf_token %}
                {% include 'forum/poll.html' %}
            {% endif %}

            {% if user.is_authenticated %}
                <p>
                    <br>
                    <a href="{% url 'new_post' thread.id %}" class="btn btn-primary">New post</a>
                </p>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <br>
        {% for post in thread.posts.all %}
            {% include "forum/post.html" %}
        {% endfor %}
    </div>
{% endblock %}

{% block body_js %}
    <script>
        $(document).ready(function(){
            $.supersized({
                // Components
                slide_links: 'blank',
                // Individual links for each slide (Options: false, 'number', 'name', 'blank')
                slides: [      // Slideshow Images
                    {
                        image: '{% static "images/peopleandideas.png" %}',
                        title: 'Image of people thinking of stuff.'
                    }
                ]
            });
        });
    </script>
{% endblock body_js %}