{% extends "base.html" %}
{% load thread_extras %}
{% load staticfiles %}

{% block content %}
    <div class="row header">
        <div class="jumbotron"><h1>{{ subject.name }}</h1></div>
    </div>
    <div class="col-md-12">
        {% if user.is_authenticated %}
            <p>
                <a href="{% url 'new_thread' subject.id %}" class="btn btn-primary">New Thread</a>
            </p>
        {% endif %}
        {% for thread in subject.threads.all %}
            {% include "forum/thread_item.html" %}
        {% endfor %}
    </div>
{% endblock %}

{% block body_js %}
    <script>
        $(document).ready(function(){
            $.supersized({
                // Components
                slide_links: 'blank',
                // Individual links for each slide (Options: false, 'number', 'name', 'blank')
                slides: [      // Slideshow Images
                    {
                        image: '{% static "images/peopleandideas.png" %}',
                        title: 'Image of people thinking of stuff.'
                    }
                ]
            });
        });
    </script>
{% endblock body_js %}
